---
layout: template1
---

<h1><img src="{{ site.baseurl }}{{ site.avatar }}" alt="VMFA Logo" style="width:50px;height:50px;">VMFA Digital Collections</h1>
<h2>Metadata Application Profile</h2>
<p><a class="btn btn-lg btn-primary" href="https://github.com/courtneytkacz/vmfa-digcoll-map" role="button">View {{ site.title }} Code on Github &raquo;</a></p>

<hr>
<p><b>Descriptive:</b>
{% for field in site.data.order.descriptive %}
  {% assign element = site.data.elements[field] %}
  {% include toc.html %}
{% endfor %}
</p>
<p><b>Administrative:</b>
{% for field in site.data.order.administrative %}
  {% assign element = site.data.elements[field] %}
  {% include toc.html %}
{% endfor %}
</p>
<hr>

<h3>Descriptive Metadata</h3>
<table class="floating-header" cellspacing="0">
{% for field in site.data.order.descriptive %}
  {% assign element = site.data.elements[field] %}
  {% include table.html %}
{% endfor %}
</table>

<h3>Administrative Metadata</h3>
<table class="floating-header" cellspacing="0">
{% for field in site.data.order.administrative %}
  {% assign element = site.data.elements[field] %}
  {% include table.html %}
{% endfor %}
</table>

<br>
